alabaster>=0.7.7
ipython>=4.1.1
nose>=1.3.7
nose2>=0.6.3
pandas
six>=1.10.0
snowballstemmer==1.2.1
Sphinx>=1.3.5
sphinx-rtd-theme>=0.1.9
sphinxcontrib-napoleon>=0.5.0
tox
networkx
# dev version of pyomo
#https://software.sandia.gov/svn/public/pyomo/pyomo/trunk
git+https://github.com/pyomo/pyomo.git@ec7cf31c2e7c26f8181e427e73c3f2b8401fef3e
git+https://github.com/PyUtilib/pyutilib
bunch
codecov
nose-cov
nose-timer
